@font-face {  
  font-family: 'shuzi'; 
  src: url('DS-DIGIB.ttf');  
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'wenzi'; 
  src: url('FZBenMXYTJW.ttf');  
  font-weight: normal;  
  font-style: normal;  
}